html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/style.css")
        title Meditation Escritoire
    body
        div(class="error-container")
            h1(class="error-header") oops! 
            span(class="error-body") Something went wrong. Try again later.