html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/landingPage.js" type="module")
        link(rel="stylesheet" type="text/css" href="/style.css")
        title Meditation Escritoire
    body
        div(class="header-bar") 
            span(class="header-title") Meditation Escritoire
        table(class="ticket-table")
            tr(class="ticket-table-row")
                th(class="ticket-table-header") Subject
                th(class="ticket-table-header") Status 
                th(class="ticket-table-header") Requester updated 
                th(class="ticket-table-header") Group 
                th(class="ticket-table-header") Assignee
            tbody 
                each ticket in tickets 
                    tr(class="ticket-table-row" data=ticket.id)
                        td(class="ticket-table-data") #{ticket.subject}
                        td(class="ticket-table-data") #{ticket.status}
                        td(class="ticket-table-data") #{ticket.updated_at.split('T')[0]}


