html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/style.css")
        title Meditation Escritoire
    body
        include nav-bar.pug
        if ticket.ticket
            - const user = ticket.users.filter(user => user.id === ticket.ticket.requester_id)[0]
            div(class="ticket-details-container")
                div(class="ticket-details-header")
                    span(class="ticket-details-user") #{user.name}
                    span(class='ticket-details-date') #{new Date(ticket.ticket.updated_at).toDateString()}
                pre(class="ticket-details-description") #{ticket.ticket.description}
        else
            include error-template.pug