html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/style.css")
        title Meditation Escritoire
    body
        include nav-bar.pug
        div(class="ticket-details-container")
            span(class='ticket-details-date') #{new Date(ticket.updated_at).toDateString()}
            div Subject: #{ticket.subject}
            pre(class="ticket-details-description") #{ticket.description}
            div Status: #{ticket.status}