.header-bar{
    align-items: center;
    background-color: white;
    border-radius: 3px;
    box-shadow: 4px 2px 4px 0px rgba(197, 197, 197, 0.527);
    display: flex;
    height: 125px;
    justify-content: center;
    margin: 20px;
}

.header-title{
    color: black;
    font-size: 40px;
    margin-left: 15px;
    margin-right: auto;
}

.header-home-button{
    background-color: #045763;
    border-radius: 5px;
    color: white;
    margin-right: 20px;
    padding: 8px 10px 8px 10px;
    transition: background-color;
    transition-duration: 0.3s;
}

.header-home-button:hover{
    cursor: pointer;
    background-color: #03363D;
    transition: background-color;
    transition-duration: 0.3s;
}