.ticket-table{
    border-collapse: collapse;
    width: 100%;
}

.ticket-table-header{
    background-color: #03363D;
    color: white;
    font-weight: 500;
    padding: 10px;
    text-align: left;
}

.ticket-table-data{
    border: 1px solid rgb(202, 202, 202);
    padding: 8px;
}

.ticket-table-row{
    background-color: #ddd;
}

.ticket-table-row:hover{
    background-color: #045763;
    cursor: pointer;
    color: white;
}

.ticket-table-row:nth-child(even){
    background-color: #f7f7f7;
}
.ticket-table-row:nth-child(even):hover{
    background-color: #045763;
    cursor: pointer;
    color: white;
}