.ticket-table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.ticket-table-header{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008a00;
    color: white;
}

.ticket-table-data{
    border: 1px solid rgb(202, 202, 202);
    padding: 8px;
}

.ticket-table-row{
    background-color: #ddd;
}

.ticket-table-row:hover{
    background-color: #008a00;
    cursor: pointer;
    color: white;
}

.ticket-table-row:nth-child(even){
    background-color: #f7f7f7;
}
.ticket-table-row:nth-child(even):hover{
    background-color: #008a00;
    cursor: pointer;
    color: white;
}